:root {
    --background-color: lightblue;
}

header{
    text-align: center;
}

header h1 {
    margin-left: auto;
    margin-right: auto;
}

#resourceButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
}