// These are from Coolers!

// Plant and Water
/* RGB */
$color1: rgba(38, 83, 43, 1);
$color2: rgba(57, 158, 90, 1);
$color3: rgba(90, 188, 185, 1);
$color4: rgba(99, 226, 198, 1);
$color5: rgba(110, 249, 245, 1);

/* RGB */
$color1: rgba(212, 224, 155, 1);
$color2: rgba(156, 179, 128, 1);
$color3: rgba(148, 168, 154, 1);
$color4: rgba(199, 172, 146, 1);
$color5: rgba(164, 74, 63, 1);

/* RGB */
$color1: rgba(66, 75, 84, 1);
$color2: rgba(225, 206, 122, 1);
$color3: rgba(235, 207, 178, 1);
$color4: rgba(197, 186, 175, 1);
$color5: rgba(255, 255, 255, 1);

/* RGB */
$color1: rgba(207, 242, 126, 1);
$color2: rgba(242, 221, 110, 1);
$color3: rgba(229, 178, 93, 1);
$color4: rgba(184, 125, 75, 1);
$color5: rgba(82, 58, 52, 1);